*{
	-fx-text-fill: #30393E;
}

.canvas{
	-fx-alignment: center;
	-fx-pref-width: 1216px;
	-fx-pref-height: 768px;
	-fx-max-height: 768px;
	-fx-background-color: #fff;
}


.top_contain{
	-fx-padding: 0 0 15 18px;
	-fx-pref-height: 50px;
}

.teacher{
	-fx-padding: 5 5 5 5;
	-fx-min-width: 130px;
	-fx-alignment: center;
	-fx-font-size: 1.5em;
	-fx-background-color: #aaaaaa;
	-fx-text-fill: #ffffff;
}

#changePassword{
	-fx-min-width: 130px;
	-fx-alignment: center;
	-fx-font-size: 1.5em;
}
#changePassword:focused{

	-fx-background-color: #aaaaaa;
	-fx-text-fill: #ffffff;
}


/*.table_container .label{*/
	/*-fx-pref-width: 200px;*/
	/*-fx-pref-height: 40px;*/
	/*-fx-background-color: #aaaaaa;*/
	/*-fx-text-fill: #ffffff;*/
/*}*/

#centerContainer{
	-fx-padding: 0 5 5 5;

}

.title{
	-fx-alignment: center;
	-fx-padding: 5 5 5 5;
	-fx-min-width: 592px;
	-fx-min-height: 40px;
	-fx-max-height: 40px;
	-fx-alignment: center;
	-fx-font-size: 1.5em;
}

.action{
	-fx-min-width: 130px;
	-fx-min-height: 40px;
}

.button:focused{
	-fx-background-color: #aaaaaa;
	-fx-text-fill: #ffffff;
}

.table{
	-fx-min-width: 594px;
	-fx-max-width: 594;
	-fx-min-height: 630px;
	-fx-max-height: 630px;
	-fx-border-width: 1px;
	-fx-border-color: #aaaaaa;
	-fx-background-color: #ffffff;
}
.table-row-cell:selected{
	-fx-text-fill: #fff;
	-fx-border-width: 0px;
	-fx-background-color: #aaaaaa;
}
.table-row-cell:hover{
	-fx-background-color: #ccc;
}
.table-row-cell:empty .table-cell {
	-fx-background-color: #ffffff;
	-fx-border-width: 0px;
}


.actionContainer{
	-fx-padding: 40 0 0 0;
	-fx-min-height: 670px;
	-fx-max-height: 670px;

}
